body {
  font-family: script-fonts;
  background: #7a58a6;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

ul {
  list-style: inside;
  padding: 0;
}

li {
  padding: 10px;
  margin-top: 10px;
  background: #eeeeee;
  border-radius: 4px;
}
